name: set-git-cliff

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up git-cliff
        uses: TomohitoAndo/setup-git-cliff@set-github-token-to-avoid-api-rate-limit

      - name: Run git-cliff
        run: |
          git cliff
